In [1]:
# Create an empty tuple
my_tuple = ()

# Display the tuple
print("Tuple =", my_tuple)

Tuple = ()

In [2]:
# Create a tuple with different data types
my_tuple = ('Tutor Joes', True, 'T', 3.21, 10)

# Display the tuple
print(my_tuple)

('Tutor Joes', True, 'T', 3.21, 10)

In [3]:
# Create a tuple with numbers
my_tuple = (5, 10, 15, 20)

# Print one item from the tuple
item_to_print = my_tuple[1]  # Index 1 corresponds to the second item (10)

# Display the item
print(item_to_print)

# Display the type of the tuple
print("Type =", type(my_tuple))

10
Type = <class 'tuple'>

In [4]:
# Create a tuple
my_tuple = (4, 8, 3)

# Unpack the tuple into separate variables
a, b, c = my_tuple

# Display the variables
print("a =", a, b, c)

# Display the original tuple
print(my_tuple)

a = 4 8 3
(4, 8, 3)

In [5]:
# Create a tuple
my_tuple = (10, 40, 50, 70, 90)

# Create a new tuple by adding an item
item_to_add = 20
new_tuple = my_tuple + (item_to_add,)

# Display the new tuple
print(new_tuple)

# Display the original tuple
print("add items in list =", item_to_add)
print(my_tuple)

(10, 40, 50, 70, 90, 20)
add items in list = 20
(10, 40, 50, 70, 90)

In [6]:
# Create a tuple of characters
char_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')

# Convert the tuple to a string
char_string = ''.join(char_tuple)

# Display the tuple
print(char_tuple)

# Display the string
print(char_string)

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
Tutor Joes

In [7]:
# Create a tuple
my_tuple = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

# Get the 4th element from the tuple (indexing starts from 0)
fourth_element = my_tuple[3]

# Get the 4th element from the end of the tuple
fourth_from_last = my_tuple[-4]

# Display the original tuple
print(my_tuple)

# Display the 4th element
print("4th Element From Tuple:", fourth_element)

# Display the 4th element from the end
print("4th Element From Last Tuple:", fourth_from_last)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th Element From Tuple: e
4th Element From Last Tuple: u

In [8]:
# Create a tuple
original_tuple = ("Tutor", 'J', 23, 56.67, [23, 12], True)

# Create a copy of the tuple using the tuple() constructor
copied_tuple = tuple(original_tuple)

# Display the original tuple
print(original_tuple)

# Display the copied tuple
print("Copy =", copied_tuple)

('Tutor', 'J', 23, 56.67, [23, 12], True)
Copy = ('Tutor', 'J', 23, 56.67, [23, 12], True)

In [9]:
# Create a tuple
my_tuple = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)

# Create a dictionary to count the occurrences of each item
item_counts = {}
repeated_items = []

# Count the occurrences of items in the tuple
for item in my_tuple:
    if item in item_counts:
        item_counts[item] += 1
    else:
        item_counts[item] = 1

# Find and print the repeated items
for item, count in item_counts.items():
    if count > 1:
        repeated_items.append(item)

# Display the original tuple
print(my_tuple)

# Display the first repeated item
if repeated_items:
    print("Item =", repeated_items[0])

# Display the count of repeated items
print("Repeated items of a tuple =", len(repeated_items))

(2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
Item = 2
Repeated items of a tuple = 2

In [10]:
# Create a tuple
my_tuple = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)

# Check if '8' exists in the tuple
element1 = 8 in my_tuple

# Check if 'x' exists in the tuple
element2 = 'x' in my_tuple

# Display the original tuple
print(my_tuple)

# Display the result of the existence checks
print("8 in Tuple =", element1)
print("'x' in Tuple =", element2)

('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)
8 in Tuple = True
'x' in Tuple = False

In [11]:
# Create a list
my_list = [12, 45, 87, 54, 89, 4]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Display the original list
print(my_list)

# Display the converted tuple
print(my_tuple)

[12, 45, 87, 54, 89, 4]
(12, 45, 87, 54, 89, 4)

In [12]:
# Create a tuple
my_tuple = (23, 45, 56, 68, 10, 45, 7, 9)

# Specify the item to remove
item_to_remove = 56

# Create a new tuple without the specified item
new_tuple = tuple(item for item in my_tuple if item != item_to_remove)

# Display the original tuple
print(my_tuple)

# Display the item to remove
print("Remove =", item_to_remove)

# Display the new tuple without the specified item
print(new_tuple)

(23, 45, 56, 68, 10, 45, 7, 9)
Remove = 56
(23, 45, 68, 10, 45, 7, 9)

In [13]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

# Slice the tuple to get a subset
subset_tuple = my_tuple[3:8]

# Display the original tuple
print(my_tuple)

# Display the sliced subset
print(subset_tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(40, 50, 60, 70, 80)

In [15]:
# Create a tuple
my_tuple = (23, 45, 67, 78, 89, 90, 34, 56)

# Specify the item to find
item_to_find = 78

# Find the index of the item
index_number = my_tuple.index(item_to_find)

# Display the original tuple
print(my_tuple)

# Display the item to find
print("Item =", item_to_find)

# Display the index number of the item
print("Index Number:", index_number)

(23, 45, 67, 78, 89, 90, 34, 56)
Item = 78
Index Number: 3

In [16]:
# Create a tuple
my_tuple = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")

# Find the length of the tuple
length = len(my_tuple)

# Display the original tuple
print(my_tuple)

# Display the length of the tuple
print("Length:", length)

('Lion', 'Cat', 'Dog', 'Panda', 'Tiger', 'Fox')
Length: 6

In [17]:
# Create a tuple of key-value pairs
tuple_of_pairs = (("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422))

# Convert the tuple to a dictionary using a dictionary comprehension
my_dict = {key: value for key, value in tuple_of_pairs}

# Display the original tuple
print(tuple_of_pairs)

# Display the converted dictionary
print(my_dict)

(('Name', 'Ram'), ('Age', 23), ('City', 'Salem'), ('Mark', 422))
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

In [18]:
# Create a list of tuples
list_of_tuples = [(10, 30), (60, 90), (20, 50)]

# Unzip the list of tuples into individual lists
unzipped_list = list(zip(*list_of_tuples))

# Display the original list of tuples
print(list_of_tuples)

# Display the unzipped lists
print(unzipped_list)

[(10, 30), (60, 90), (20, 50)]
[(10, 60, 20), (30, 90, 50)]

In [19]:
# Create a tuple
my_tuple = (23, 45, 67, 78, 89, 90, 34, 56)

# Reverse the tuple using slicing
reversed_tuple = my_tuple[::-1]

# Display the original tuple
print("Before Reverse:", my_tuple)

# Display the reversed tuple
print("After Reverse:", reversed_tuple)

Before Reverse: (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse: (56, 34, 90, 89, 78, 67, 45, 23)

In [20]:
# Create a list of tuples
list_of_tuples = [
    ("Name", "Ram"),
    ("Name", "Pooja"),
    ("Age", 21),
    ("Gender", "Male"),
    ("Age", 23),
    ("Gender", "Female")
]

# Create an empty dictionary to store the converted data
result_dict = {}

# Convert the list of tuples into a dictionary
for key, value in list_of_tuples:
    if key not in result_dict:
        result_dict[key] = [value]
    else:
        result_dict[key].append(value)

# Display the original list of tuples
print(list_of_tuples)

# Display the converted dictionary
print(result_dict)

[('Name', 'Ram'), ('Name', 'Pooja'), ('Age', 21), ('Gender', 'Male'), ('Age', 23), ('Gender', 'Female')]
{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

In [37]:

# Create a tuple
fruits_tuple = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")

# Display the tuple with string formatting using an f-string
print(f'Fruits {fruits_tuple}')

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

In [38]:
# Create a tuple with a single item
my_tuple = (23,)

# Display the tuple with item
print("Create a tuple with Item =", my_tuple)

# Display the type of the variable
print("Type =", type(my_tuple))

Create a tuple with Item = (23,)
Type = <class 'tuple'>

In [39]:
# Create a tuple
my_tuple = (11, 22, 333, 44, 55)

# Unpack the tuple into five variables
var1, var2, var3, var4, var5 = my_tuple

# Display the original tuple
print("Tuple =", my_tuple)

# Display the unpacked variables
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

Tuple = (11, 22, 333, 44, 55)
11
22
333
44
55

In [40]:
# Define two tuples A and B
A = (10,)
B = (20,)

# Display the original tuples
print("Before Swap A:", A[0])
print("Before Swap B:", B[0])

# Swap the tuples using tuple unpacking
A, B = B, A

# Display the swapped tuples
print("After Swap A:", A[0])
print("After Swap B:", B[0])

Before Swap A: 10
Before Swap B: 20
After Swap A: 20
After Swap B: 10

In [41]:
# Create the original tuple
original_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

# Define the indices of the elements you want to copy
start_index = 2  # Inclusive
end_index = 8    # Exclusive

# Create a new tuple by copying specific elements
new_tuple = original_tuple[start_index:end_index]

# Display the original and new tuples
print(original_tuple)
print(new_tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(30, 40, 50, 60, 70, 80)

In [43]:
# Create the original tuple
original_tuple = (10, 20, 30, 40, 50)

# Display the original tuple
print(original_tuple)

# Convert the tuple to a list to make modifications
list_version = list(original_tuple)

# Modify the list as needed
list_version[2] = 33  # Change the third element to 33

# Convert the list back to a tuple
modified_tuple = tuple(list_version)

# Display the modified tuple
print(modified_tuple)

(10, 20, 30, 40, 50)
(10, 20, 33, 40, 50)

In [44]:
# Create the original tuple of tuples
original_tuple = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))

# Display the original tuple
print(original_tuple)

# Sort the tuple of tuples by the second item of each inner tuple
sorted_tuple = tuple(sorted(original_tuple, key=lambda x: x[1]))

# Display the sorted tuple
print(sorted_tuple)

(('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
(('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))

In [45]:
# Create the original tuple
original_tuple = (30, 50, 10, 30, 70, 50, 30)

# Display the original tuple
print(original_tuple)

# Count the number of occurrences of 30 in the tuple
count_30 = original_tuple.count(30)

# Display the count
print("Number of Counts 30:", count_30)

(30, 50, 10, 30, 70, 50, 30)
Number of Counts 30: 3

In [50]:
# Sample tuples
A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)

# Compute the element-wise sum
result = tuple(sum(x) for x in zip(A, B, C, D))

# Print the result
print("A =", A)
print("B =", B)
print("C =", C)
print("D =", D)
print("Sum of Elements =", result)

A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
Sum of Elements = (12, 21, 18)

In [47]:
# Create the original tuple of tuples with string and float elements
original_tuple = (
    ('Ram', '89.20'),
    ('Siva', '76.45'),
    ('Pooja', '84.40'),
    ('Tara', '68.43'),
    ('Jeeva', '91.40')
)

# Display the original tuple
print(original_tuple)

# Sort the tuple by its float element
sorted_tuple = sorted(original_tuple, key=lambda x: float(x[1]), reverse=True)

# Display the sorted tuple
print(sorted_tuple)

(('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40'))
[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [48]:
# Create the original list of tuples
original_list = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]

# Display the original list
print(original_list)

# Specify the value to replace with
replace_value = 10

# Replace the last value in each tuple
updated_list = [(a, b, replace_value) for a, b, _ in original_list]

# Display the updated list
print("Replace value =", replace_value)
print(updated_list)

[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
Replace value = 10
[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [52]:
def extract_k_digit_tuples(tuples, k):
    result = [t for t in tuples if all(len(str(element)) == k for element in t)]
    return result

# Sample list of tuples
print ("tuples = [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]")

# Value of K
print ("K = 2")

# Extract tuples with K digit elements
filtered_tuples = extract_k_digit_tuples(tuples, K)

# Print the result
print(filtered_tuples)

tuples = [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
K = 2
[(47, 23), (22, 53)]

In [16]:
def extract_symmetric_tuples(tuples):
    symmetric_set = set()
    for t in tuples:
        reversed_t = tuple(reversed(t))
        if reversed_t in tuples and t != reversed_t:
            symmetric_set.add(t)
    return symmetric_set

# Sample list of tuples
tuples = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]

# Extract symmetric tuples
symmetric_tuples = extract_symmetric_tuples(tuples)

# Print the result
print("Sample Tuples:", tuples)
print("Symmetric Tuples:", symmetric_tuples)

Sample Tuples: [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
Symmetric Tuples: {(2, 9), (23, 18), (18, 23), (9, 2)}

In [9]:
def sort_tuples_by_max_element(tuples):
    return sorted(tuples, key=lambda x: max(x), reverse=True)

# Sample list of tuples
tuples = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]

# Sort tuples by their maximum element in descending order
sorted_tuples = sort_tuples_by_max_element(tuples)

# Print the result
print(sorted_tuples)

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [55]:
def remove_nested_tuples(input_tuple):
    cleaned_tuple = tuple(item for item in input_tuple if not isinstance(item, tuple))
    return cleaned_tuple

# Sample tuple with nested records
sample_tuple = (10, 20, (30,), 40, (50, 60), 70)

# Remove nested tuples
result_tuple = remove_nested_tuples(sample_tuple)

# Print the result
print("Original Tuple:", sample_tuple)
print("Removal of Nested Tuple:", result_tuple)

Original Tuple: (10, 20, (30,), 40, (50, 60), 70)
Removal of Nested Tuple: (10, 20, 40, 70)

In [10]:
def count_element_frequency(input_tuple):
    frequency = {}
    
    def count_elements(subtuple):
        for item in subtuple:
            if isinstance(item, tuple):
                count_elements(item)
            else:
                if item in frequency:
                    frequency[item] += 1
                else:
                    frequency[item] = 1

    count_elements(input_tuple)
    return frequency

# Sample mixed nested tuple
sample_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

# Calculate element frequency
element_frequency = count_element_frequency(sample_tuple)

# Print the result
print("Mixed Nested Tuple:", sample_tuple)
print("Elements Frequency:", element_frequency)

Mixed Nested Tuple: (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

In [17]:
def get_unique_elements_in_nested_tuples(tuples):
    unique_elements = set()
    for tpl in tuples:
        for element in tpl:
            unique_elements.add(element)
    return list(unique_elements)

# Sample list of nested tuples
nested_tuples = [(1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,)]

# Get unique elements from nested tuples
unique_elements = get_unique_elements_in_nested_tuples(nested_tuples)

# Print the result
print("Sample Nested Tuples:", nested_tuples)
print("Unique Elements in Nested Tuples:", unique_elements)

Sample Nested Tuples: [(1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,)]
Unique Elements in Nested Tuples: [1, 2, 3, 4, 5, 6, 7, 9, 10]

In [18]:
# Sample tuples
tuple1 = (18, 23, 2, 9)
tuple2 = (10, 3, 11)

# Convert individual tuples into nested tuples
nested_tuple1 = (tuple1,)
nested_tuple2 = (tuple2,)

# Concatenate the nested tuples
result = nested_tuple1 + nested_tuple2

# Print the result
print("Tuple 1:", nested_tuple1)
print("Tuple 2:", nested_tuple2)
print("Tuples after Concatenating:", result)

Tuple 1: ((18, 23, 2, 9),)
Tuple 2: ((10, 3, 11),)
Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

In [20]:
from collections import Counter

# Sample list of tuples
tuples = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

# Count the frequency of the second element in each tuple
frequency_count = Counter(item[1] for item in tuples)

# Sort the list of tuples by the frequency of the second element
sorted_tuples = sorted(tuples, key=lambda item: frequency_count[item[1]], reverse=True)

# Print the result
print(tuples)
print("Sorted List of tuples:", sorted_tuples)

[(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]
Sorted List of tuples: [(2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8)]

In [27]:
# Sample tuple with lists
input_tuple = ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))

# Sort the lists within the tuple
sorted_tuple = tuple([sorted(sublist) if isinstance(sublist, list) else sublist for sublist in input_tuple])

# Print the result
print("Original Tuple:", input_tuple)
print("Tuple after sorting list:", sorted_tuple)

Original Tuple: ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))
Tuple after sorting list: ([10, 50, 60], [20, 30, 80], [40, 70, 100], (90,))

In [28]:
# Sample list of tuples
tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

# Sample list to define the order
order_list = ['A', 'B', 'C', 'D']

# Order the tuples based on the order list
ordered_tuple_list = sorted(tuple_list, key=lambda item: order_list.index(item[0]))

# Print the result
print("Original Tuple List:", tuple_list)
print("Ordered Tuple List:", ordered_tuple_list)

Original Tuple List: [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

In [29]:
# Sample list of tuples
tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

# Sample list of Kth elements to filter
kth_elements_to_filter = [67, 70, 71, 75]

# Index of the Kth element you want to filter by (assuming 1-based indexing)
kth_element_index = 1

# Filter tuples based on the Kth element
filtered_tuples = [(item[0], item[1]) for item in tuple_list if item[kth_element_index] in kth_elements_to_filter]

# Print the result
print("Original Tuple List:", tuple_list)
print("List of Kth elements to filter =", kth_elements_to_filter)
print("Kth element index =", kth_element_index)
print("Filtered tuples:", filtered_tuples)

Original Tuple List: [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
List of Kth elements to filter = [67, 70, 71, 75]
Kth element index = 1
Filtered tuples: [('D', 70), ('A', 67)]

In [30]:
import math

# Sample list of tuples
tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]

# Sample tuple to compare with
given_tuple = (20, 2)

# Kth Element Index (0-based index, so K = 1 corresponds to the second element)
kth_element_index = 1

# Function to calculate the Euclidean distance between two points (tuples)
def euclidean_distance(point1, point2):
    return math.sqrt((point1[0] - point2[0]) ** 2 + (point1[1] - point2[1]) ** 2)

# Find the nearest tuple to the given tuple
nearest_tuple = min(tuple_list, key=lambda t: euclidean_distance(t, given_tuple))

# Print the result
print("Sample List of Tuples:", tuple_list)
print("Given Tuple:", given_tuple)
print("Kth Element Index:", kth_element_index)
print("Nearest Tuple:", nearest_tuple)

Sample List of Tuples: [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
Given Tuple: (20, 2)
Kth Element Index: 1
Nearest Tuple: (23, 2)

In [37]:
# Sample lists of tuples
list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

# Convert the tuples to sets for efficient intersection
set1 = set(list1)
set2 = set(list2)

# Find the intersection of the sets
intersection = { (4, 5), (5, 6), (3, 4) }

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("Intersection:", intersection)

List 1: [(3, 4), (5, 6), (9, 10), (4, 5)]
List 2: [(5, 4), (3, 4), (6, 5), (9, 11)]
Intersection: {(4, 5), (5, 6), (3, 4)}

In [38]:
# Sample lists of tuple records
list1 = [('A', 65), ('D', 68), ('B', 66)]
list2 = [('D', 68), ('C', 67), ('A', 65)]

# Convert the tuple records to sets for efficient intersection
set1 = set(list1)
set2 = set(list2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Convert the intersection set back to a list
intersection_list = list(intersection)

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("Intersection of data records:", intersection_list)

List 1: [('A', 65), ('D', 68), ('B', 66)]
List 2: [('D', 68), ('C', 67), ('A', 65)]
Intersection of data records: [('D', 68), ('A', 65)]

In [39]:
# Sample list of tuples
tuples = [(3, 4), (1, 2), (4, 3), (5, 6)]

# Convert the tuples to sets to remove duplicates
unique_tuples = set(tuple(sorted(tpl)) for tpl in tuples)

# Convert the unique tuples set back to a list
unique_tuples_list = list(unique_tuples)

# Count the unique tuples frequency
unique_tuples_count = len(unique_tuples_list)

# Print the result
print("Original List of Tuples:", tuples)
print("Unique Tuples Frequency:", unique_tuples_list)
print("Unique Tuples Frequency Count:", unique_tuples_count)

Original List of Tuples: [(3, 4), (1, 2), (4, 3), (5, 6)]
Unique Tuples Frequency: [(1, 2), (3, 4), (5, 6)]
Unique Tuples Frequency Count: 3

In [40]:
def nested_tuple_sum(tup):
    total = 0
    while tup is not None:
        total += tup[0]
        tup = tup[1]
    return total

# Sample nested tuple
nested_tuple = (1, (2, (3, (4, (5, None)))))

# Calculate the summation of 1st positions in the nested tuple
summation = nested_tuple_sum(nested_tuple)

# Print the result
print("Nested Tuple:", nested_tuple)
print("Summation of 1st positions:", summation)

Nested Tuple: (1, (2, (3, (4, (5, None)))))
Summation of 1st positions: 15

In [41]:
def binary_tuple_to_integer(binary_tuple):
    decimal_num = 0
    for bit in binary_tuple:
        decimal_num = (decimal_num << 1) | bit
    return decimal_num

# Sample binary tuple
binary_tuple = (1, 0, 1, 0)

# Convert the binary tuple to an integer
decimal_number = binary_tuple_to_integer(binary_tuple)

# Print the result
print("Binary tuple:", binary_tuple)
print("Decimal number is:", decimal_number)

Binary tuple: (1, 0, 1, 0)
Decimal number is: 10

In [42]:
def xor_tuples(tuple1, tuple2):
    xor_result = tuple(x ^ y for x, y in zip(tuple1, tuple2))
    return xor_result

# Sample tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# Perform the XOR operation on the tuples
result = xor_tuples(tuple1, tuple2)

# Print the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("XOR tuple:", result)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
XOR tuple: (15, 6, 5, 10)

In [43]:
def and_tuples(tuple1, tuple2):
    and_result = tuple(x & y for x, y in zip(tuple1, tuple2))
    return and_result

# Sample tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# Perform the AND operation on the tuples
result = and_tuples(tuple1, tuple2)

# Print the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("AND operation Between Tuple:", result)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
AND operation Between Tuple: (0, 0, 2, 1)

In [45]:
def elementwise_and_tuples(tuple1, tuple2):
    and_result = tuple(x & y for x, y in zip(tuple1, tuple2))
    return and_result

# Sample tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# Perform the element-wise AND operation on the tuples
result = elementwise_and_tuples(tuple1, tuple2)

# Print the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Elementwise AND Tuple:", result)

Tuple 1: (10, 4, 6, 9)
Tuple 2: (5, 2, 3, 3)
Elementwise AND Tuple: (0, 0, 2, 1)